/*======================================================

    Veiaco!;
    Mixins
    © Check repository license

======================================================*/

/*======================================================
    © Typography
======================================================*/

/**** Display and Headlines ****/
@mixin headline-1 {
  font-size: $font-size-h1;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

@mixin headline-2 {
  font-size: $font-size-h2;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

@mixin headline-3 {
  font-size: $font-size-h3;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

/**** Label ****/
@mixin label-1-raleway {
  font-size: $font-size-base;
  font-family: $font-raleway;
  font-weight: 400;
  line-height: 30px;
}

@mixin label-2-raleway {
  font-size: $font-size-base;
  font-family: $font-raleway;
  font-weight: 500;
  line-height: 30px;
}

@mixin label-3-raleway {
  font-size: $font-size-base;
  font-family: $font-raleway;
  font-weight: 600;
  line-height: 30px;
}

@mixin label-1-poppins {
  font-size: $font-size-base;
  font-family: $font-poppins;
  font-weight: 400;
  line-height: 30px;
}
