/*======================================================

    Veiaco!;
    Mixins
    © Check repository license

======================================================*/

/*======================================================
    © Typography
======================================================*/

/**** Display and Headlines ****/
@mixin headline-1 {
  font-size: $font-size-h1;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

@mixin headline-2 {
  font-size: $font-size-h2;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

@mixin headline-3 {
  font-size: $font-size-h3;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

@mixin headline-4 {
  font-size: $font-size-h4;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

@mixin headline-5 {
  font-size: $font-size-h5;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

@mixin headline-6 {
  font-size: $font-size-h6;
  font-family: $font-poppins;
  font-weight: 600;
  line-height: 40px;
}

/**** Label ****/
@mixin label-1-raleway {
  font-size: $font-size-base;
  font-family: $font-raleway;
  font-weight: 400;
  line-height: 30px;
}

@mixin label-2-raleway {
  font-size: $font-size-base;
  font-family: $font-raleway;
  font-weight: 500;
  line-height: 30px;
}

@mixin label-3-raleway {
  font-size: $font-size-base;
  font-family: $font-raleway;
  font-weight: 600;
  line-height: 30px;
}

@mixin label-4-raleway {
  font-size: $font-size-base;
  font-family: $font-raleway;
  font-weight: 600;
  line-height: 30px;
}

@mixin label-1-poppins {
  font-size: $font-size-base;
  font-family: $font-poppins;
  font-weight: 400;
  line-height: 30px;
}

@mixin label-2-poppins {
  font-size: $font-size-small;
  font-family: $font-poppins;
  font-weight: 400;
  line-height: 30px;
}

/*======================================================
    © Buttons
======================================================*/
/**** Main buttons ****/
button {
  cursor: pointer;
}

@mixin main-button-1 {
  background-color: $main-color-1;
  color: $main-color-light-1;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  @include label-1-poppins;
}

@mixin main-button-2 {
  background-color: $main-color-2;
  color: $main-color-light-1;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  @include label-1-poppins;
}

@mixin main-button-3 {
  background-color: $main-color-3;
  color: $main-color-light-1;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  @include label-1-poppins;
}

@mixin main-button-4 {
  background-color: $main-color-4;
  color: $main-color-light-1;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  @include label-1-poppins;
}

/**** Dialog buttons ****/
@mixin button-confirm {
  background-color: $danger-color-1;
  color: $main-color-light-1;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  @include label-1-poppins;
  cursor: pointer;
}

@mixin button-cancel {
  background-color: $success-color-1;
  color: $main-color-light-1;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  @include label-1-poppins;
  cursor: pointer;
}
