/*======================================================

    Veiaco!;
    Variables
    © Check repository license

======================================================*/

/*======================================================
    © Typography
======================================================*/

/**** Font Size ****/
$font-poppins: "Poppins", sans-serif;
$font-raleway: "Raleway", sans-serif;

$font-size-base: 16px !default;
$font-size-small: 14px !default;
$font-size-medium: 18px !default;

$font-size-h1: 38px !default;
$font-size-h2: 28px !default;
$font-size-h3: 24px !default;
$font-size-h4: 22px !default;
$font-size-h5: 20px !default;
$font-size-h6: 16px !default;
$font-paragraph: 16px !default;

/*======================================================
    © Colors
======================================================*/

/**** Design System Colors ****/
$main-color-1: #ffff00;
$main-color-2: #f485c6;
$main-color-3: #2246ff;
$main-color-4: #8de600;
$main-color-5: #ff6e00;
$main-color-6: #ff4100;

$main-color-light-1: #fff;

$main-color-dark-1: #000;

$main-color-gray-1: #94918a;

/**** Events Colors ****/

// Success Colors
$success-color-1: #009974;
$success-color-2: #0edeac;
$success-color-3: #55f2cc;

// Danger Colors
$danger-color-1: #a60000;
$danger-color-2: #dd0000;
$danger-color-3: #f24949;
