/*======================================================

    Veiaco!;
    Inputs
    © Check repository license

======================================================*/

/*======================================================
    © Input text
======================================================*/
.input-text {
  padding: 10px 0 4px 0;
  border: none;
  border-bottom: 1px solid $main-color-gray-4;
  outline: none;
  background-color: transparent;
  @include label-2-poppins;
  color: $main-color-dark-000;
  font-weight: 400;
  width: 100%;
}
