.outlet {
  .veiaco-form {
    height: 100%;

    .form-veiaco {
      height: 100%;

      .container-form-veiaco {
        display: flex;
        gap: 60px;
        height: 100%;

        .veiaco-form-left {
          flex: 1;
          text-align: center;
          background-color: $main-color-3;
          padding: 40px 0;

          .headline-new-veiaco {
            @include headline-1;
          }
        }

        .veiaco-form-right {
          flex: 2;
          padding: 52px 52px 52px 0px;

          .veiaco-form-grid {
            display: grid;
            grid-template-columns: 1fr;
            padding: 10px 52px 52px 0px;
            gap: 34px;
          }

          h1 {
            @include headline-2;
            line-height: 40px;
          }

          input {
            font-size: 26px;
            font-weight: 300;
          }

          .veiaco-button-row {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: flex-end;

            .btn-div {
              width: 180px;

              button {
                @include main-button-1;
                width: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
