.veiaco-dashboard-container {
  display: flex;

  .veiaco-left-side {
    flex: 1;

    .grid-dashboard-info {
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-items: center;
      padding: 14px 30px;
      gap: 0 40px;
    }
  }

  .veiaco-right-side {
    flex: 0.3;
    bottom: 40px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $main-color-3;

    .container-veiaco-info {
      display: flex;
      flex-direction: column;
      padding: 62px 30px 0 30px;
      align-items: center;
      height: 80vh;

      .veiaco-contact {
        text-align: left;
      }

      .veiaco-actions-footer {
        margin-top: 30px;
        width: 100%;

        .total-debt-container {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          margin-top: 10px;
          background-color: #f7f7f7;
          border-radius: 16px;
          padding: 14px 20px;

          h1 {
            @include label-2-poppins;
            font-size: 40px;
            font-weight: bold;
            color: rgb(105, 201, 105);
            line-height: 0;
          }

          label {
            @include label-4-raleway;
            font-size: 20px;
            font-weight: 400;
            color: #bdbdbd;
          }
        }

        .button-whatsapp-action {
          display: flex;
          align-items: center;
          gap: 18px;
          background-color: #f7f7f7;
          border-radius: 16px;
          padding: 10px 20px;
          cursor: pointer;

          p {
            @include label-2-raleway;
            font-size: 15px;
            font-weight: bold;
            color: #303030;
            line-height: 0;
            margin-bottom: 10px;
            margin-top: 12px;
          }

          label {
            @include label-4-raleway;
            font-size: 14px;
            font-weight: 400;
            color: #bdbdbd;
            line-height: 0;
          }
        }
      }

      .veiaco-header-info {
        display: flex;

        flex-direction: column;
        align-items: center;

        .veiaco-name {
          @include headline-2;
          text-align: center;
        }

        .veiaco-occupation {
          @include headline-6;
          color: $main-color-gray-2;
          font-weight: 400;
          line-height: 26px;
        }
      }
    }

    .hr-info-veiaco {
      width: 100%;
      margin: 20px 0 4px 20px;
      border: 0;
      height: 1px;
      padding: 0;
      border-top: 1px solid $main-color-gray-2;
    }

    .veiaco-actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 4px;
      padding: 0 0px 30px 0px;

      cursor: pointer;

      .image-edit-veiaco {
        width: 30px;
      }
      .image-delete-veiaco {
        width: 30px;
      }
    }
  }
}
