.container-debt-preview-table {
  width: 100%;

  .container-preview-table-headline {
    h1 {
      @include headline-5;
      margin-bottom: 0px;
    }
  }

  .preview-table {
    width: 100%;
    border-spacing: 0px 20px;

    thead {
      tr {
        @include label-3-raleway;
        color: $main-color-gray-4;

        th:first-child {
          text-align: left;
        }
      }
    }
    tbody {
      tr {
        @include label-2-poppins;
        font-weight: 500;
        cursor: pointer;

        td:first-child {
          text-align: left;
        }

        td {
          text-align: center;

          .container-info-debt {
            display: flex;
            flex-direction: column;

            .debt-name {
              @include headline-5;
              font-size: 18px;
              line-height: 14px;
            }

            .debt-cat {
              color: $main-color-gray-3;
            }
          }

          .status-active {
            background-color: $main-color-6;
            border-radius: 10px;
            padding: 5px 26px;
          }

          .status-inactive {
            background-color: $main-color-3;
            border-radius: 10px;
            padding: 5px 14px;
          }
        }
      }
    }
  }
}
