.generic-outlet-header {
  .generic-outlet-content-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      @include headline-1;
    }

    .right-side {
      .add-item-generic-outlet {
        display: flex;
        align-items: center;
        gap: 10px;
        @include label-2-raleway;

        cursor: pointer;

        span {
          display: flex;

          img {
            width: 32px;
          }
        }
      }
    }
  }
}
