.veiaco-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .veiaco-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include label-3-raleway;
  }
}
